.pi-background-form{
    background: white;

}

.container-color{
    
    /* background: -webkit-linear-gradient(to bottom,  #670d10, #092756);  
    background: linear-gradient(to bottom, #670d10, #092756); */
    background: rgb(243, 240, 240);

} 

.pi-background-primary{
    background-color: #FF4500;
 
}

.pi-primary{
    color:#FF4500;

}


.pi-primary{
    color: #cc3700;
   
}

 .pi-bg-primary{
    background:#f96c39;
    color: #fff;
}

  .pi-emAndamento{
    background: #f0ad4e;
    color:#fff;
  }
  
  .pi-naoIniciado{
 
    background: #d9534f;
      color:#fff;
  }
  
  .pi-finalizado {
      background: #5cb85c;
      color:#fff;
  }

  .pi-hr-color{
    background: #aaaaaa;
}

.pi-btnIniciar{
    background-color: limegreen;
    border-radius: 5px;
  }
  
  .pi-btnParar{
    background-color: firebrick;
    border-radius: 5px;
    padding-right: 10px;
  }
  
  .pi-btnOpcoes{
    background-color: chocolate;
    border-radius: 5px;
  }

  .pi-text-black{
    color:black;
}

.pi-color3{
    background:#3839BF;
}

.pi-color2{
	background: #26267F;
}
.pi-color1{
	background: #4444E5;
}